# LangChain Core
langchain
langchain-core

# OpenAI
langchain-openai
openai

# Anthropic
langchain-anthropic

# Google Genimi (PaLM)
langchain-google-genai
google-generativeai

# Hugging Face
langchain-huggingface
transformers
huggingface-hub

# .Evn support
python-dotenv

# ML Utilities
numpy
scikit-learn

# pytorch & TensorFlow
torch
tensorflow-cpu